__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

.env
*.env
.env.*

# Logs
*.log
logs/
*.out

.DS_Store
Thumbs.db

.vscode/
.idea/

*.tmp
*.temp
*.bak

venv/
env/
ENV/

output/
reports/
results/
secrets.json

secretfinder/
linkfinder/
